<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BATAQ</title>
  <link rel="stylesheet" href="/assets/style.min.css">
</head>

<body>

  <div id="app">
    <div id="timer" :class="{running: timerRunning}">
      <div class="bar"></div>
    </div>
    <div id="infobar">

    </div>

    <div v-if="stage == 'create-game'" id="create-game">
      <div class="side">
        <h3>Create Game</h3>
        <input v-model="user.name" type="text" placeholder="username">
        <button type="button" @click="createNewGame">Create Game</button>
      </div>

      <div class="side">
        <h3>Join Game</h3>
        <input v-model="user.name" type="text" placeholder="username">
        <input v-model="game.id" type="text" placeholder="game id">
        <button type="button" @click="joinGame">Join</button>
      </div>
    </div>

    <div v-if="stage == 'gameold'" id="game">
      <div id="timer" :class="[game.stage ? 'run t10s' : '']"></div>
      <pre id="statisticsBox">
        * GameId: {{ game.id }}
        * username: {{ user.name }}
        * stage: {{ game.stage }}
        * trump: {{ game.trump }}
        * score: {{ user.score }}

        --Users--
        <template v-for="user in users" :key="user.id">{{ user.name }} -- {{ user.score ?? 0 }} -- {{ turn.id == user.id ? 'SIRA BURDA' : ''}}
        </template>
      </pre>

      <button v-if="isOwner && game.stage === 'created'" class="start-game" @click="startGame">
        Start Game
      </button>

      <h3 v-if="game.stage === 'finished' && game.winner">
        Winner is {{ game.winner.name }} with score {{game.winner.score }}
      </h3>

      <div v-if="selectTrumpStage" class="select-trump">
        <img src="/assets/cards/karoA.png" alt="" @click="selectTrump('karo')">
        <img src="/assets/cards/sinekA.png" alt="" @click="selectTrump('sinek')">
        <img src="/assets/cards/kupaA.png" alt="" @click="selectTrump('kupa')">
        <img src="/assets/cards/macaA.png" alt="" @click="selectTrump('maca')">
      </div>

      <div v-if="selectLeftoverStage" class="select-leftover">
        <img v-for="card in leftovers" :key="card.type + card.number"
          :src="'/assets/cards/' + card.type + card.number + '.png'" alt="">
      </div>

      <div class="desk">
        <!-- <div class="card">
          <img src="/assets/cards/karo10.png" alt="">
        </div>
        <div class="card">
          <img src="/assets/cards/karo2.png" alt="">
        </div>
        <div class="card">
          <img src="/assets/cards/karo3.png" alt="">
        </div> -->
      </div>

      <div v-for="player, index in playerSeatOrder" :key="player"
        :class="['player', `p${index}`, `${turn.id === player ? 'turn' : ''}`]">
        <h3>{{ getUser(player).name }} - ({{ getUser(player).score }}/{{ getUser(player).bid }})</h3>
      </div>

      <div class="bottom-manager" :class="myturn ? 'myturn' : ''">
        <div v-if="game.stage === 'bid' && !bidded" class="bids">
          <button v-for="i in 16" class="bid" @click="bid(i)">{{ i }}</button>
        </div>

        <div v-if="cards.length > 0" class="cards">
          <div class="card" :class="{disabled: isDisabledCard(card)}" v-for="card in cards"
            :key="card.type + card.number" @click="(e) => onCardClick(e, card)">
            <img :src="'/assets/cards/' + card.type + card.number + '.png'" alt="">
          </div>
        </div>
      </div>
    </div>

    <div v-if="stage == 'game'" id="game-region" ref="gameRegion" :style="`--scale: ${scale}`"
      style="background-image: url('/assets/green_felt.jpg');">
      <pre id="statisticsBox">
        * GameId: {{ game.id }}
        * username: {{ user.name }}
        * stage: {{ game.stage }}
        * trump: {{ game.trump }}
        * score: {{ user.score }}

        --Users--
        <template v-for="user in users" :key="user.id">{{ user.name }} -- {{ user.score ?? 0 }} -- {{ turn.id == user.id ? 'SIRA BURDA' : ''}}
        </template>
      </pre>

      <button v-if="isOwner && game.stage === 'created'" class="start-game" @click="startGame">
        Start Game
      </button>

      <h3 v-if="game.stage === 'finished' && game.winner">
        Winner is {{ game.winner.name }} with score {{game.winner.score }}
      </h3>

      <div v-if="selectTrumpStage" class="select-trump">
        <div class="poker-card card-type-diamond card-num-a" @click="selectTrump('diamond')">
          <div class="front"></div>
        </div>
        <div class="poker-card card-type-club card-num-a" @click="selectTrump('club')">
          <div class="front"></div>
        </div>
        <div class="poker-card card-type-heart card-num-a" @click="selectTrump('heart')">
          <div class="front"></div>
        </div>
        <div class="poker-card card-type-spade card-num-a" @click="selectTrump('spade')">
          <div class="front"></div>
        </div>
      </div>

      <div v-for="player, index in players" :key="player" class="info-board" :class="`on-${player.position}`"
        :style="`padding:${300*scale}px ${window.lo + 500  * scale}px ${animatingIntro ? 'visibility:hidden;' : ''}`">
        <div class="message-bubble"></div>
        <img class="player-avatar" :class="{highlight: turn.id === player.id}" src="/assets/player.png">
        <div class="namearea">
          <span class="player-name">{{ player.name }}</span>
          <span class="separator">•</span>
          <span class="player-bid">{{ player.score }}/{{ player.bid }}</span>
        </div>
      </div>

      <div class="bidding-area" :style="`${game.stage === 'bid' && !animatingIntro ? 'display:block;' : ''}`">
        <h3>Please select a bid</h3>
        <span v-for="i in 16" @click="bid(i)">{{i}}</span>
      </div>

      <div v-for="card in cards" :key="card.id" :id="card.id" class="poker-card flipped ready"
        :class="[`card-type-${card.type} card-num-${card.number.toLowerCase()} ${card.status} ${!isDisabledCard(card) ? 'movable' : ''}`]"
        @click="(e) => onCardClick(e, card)">
        <div class="front"></div>
        <div class="back"></div>
      </div>

      <div v-for="card in othersCards" :key="card.id" :id="card.id" class="poker-card flipped"
        :class="`card-type-${card.type ?? 'x'} card-num-${(card.number ?? 'x').toLowerCase()} ${card.status}`">
        <div class="front"></div>
        <div class="back"></div>
      </div>
    </div>

  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.2.47/vue.global.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.21/lodash.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/gsap.min.js"></script>
  <script src="/assets/socket.js"></script>
</body>

</html>