@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600&display=swap');

* {
  box-sizing: border-box;
}

html,
body,
#app {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

button {
  font-family: 'Poppins', sans-serif;
}

#timer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: #ddd;
  z-index: 101;
  display: none;

  &.running {
    display: block;
  }

  .bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    z-index: 1;
    background-color: #2980b9;
  }
}

#create-game {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

  h3 {
    margin: 0;
  }

  input,
  button {
    width: 300px;
    // height: 80px;
    border: 1px solid #ccc;
    border-radius: 1rem;
    padding: 1rem;
  }

  button {
    cursor: pointer;
  }

  .side {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 2rem;
    gap: 1rem;

    &:first-child {
      border-right: 1px solid #ccc;
    }
  }
}

#game {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;

  background: url('/assets/bg.jpg') no-repeat;
  // background-size: cover;

  #statisticsBox {
    position: absolute;
    top: 2rem;
    right: 2rem;
  }

  .start-game {
    border: none;
    font-size: 1.5rem;
    border-radius: 2.5rem;
    padding: 1rem 2rem;
    font-weight: 600;
    cursor: pointer;
  }

  .select-trump,
  .select-leftover {
    display: flex;
    gap: 1rem;

    img {
      width: 150px;
      cursor: pointer;
      transition: 200ms transform ease-in-out;

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  .desk,
  .fakeWrapper {
    --r-deg: -30deg;
    position: relative;
    display: flex;
    justify-content: center;
    min-width: 450px;
    min-height: 220px;
    transition: 300ms all;
    // padding-left: 20px;

    .card {
      width: 50px;
      height: 100%;

      img {
        width: 150px;
        margin-left: -50px;
      }

      @for $i from 0 through 3 {
        &:nth-child(#{$i}) {
          transform: rotateZ(calc(var(--r-deg) + ($i * 15deg)));
        }
      }
    }

    &.stack {
      justify-content: center;
      align-items: center;
      flex-flow: column nowrap;
      // transition: 2s transform;

      // .card {
      //   position: absolute;
      //   left: 50%;
      //   transform: translateX(-50%);
      // }
    }
  }

  .bottom-manager {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    // background-color: #f5f5f5;
    position: fixed;
    bottom: 4rem;
    justify-content: center;

    &.myturn {
      background-color: rgba($color: lightgoldenrodyellow, $alpha: 0.6);
    }

    .bids {
      display: flex;
      gap: 1rem;

      .bid {
        border: none;
        cursor: pointer;
        padding: 0.5rem;
        width: 2rem;
      }
    }

    .cards {
      display: flex;
      padding: 20px;
      padding-left: 80px;
      // transform: translateY(100px);

      .card {
        transition: 300ms transform;
        width: 100px;
        cursor: pointer;
        margin-left: -60px;

        &.disabled {
          position: relative;

          &::before {
            content: " ";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba($color: #000000, $alpha: 0.6);
          }
        }

        @for $i from 1 through 16 {
          &:nth-child(#{$i}) {
            z-index: 100 + $i;
          }
        }

        img {
          width: 100%;
        }
      }
    }
  }

  .player {
    position: fixed;
    display: flex;
    justify-content: center;
    background-color: rgba($color: #000000, $alpha: 0.1);

    &.turn {
      background-color: rgba($color: lightgoldenrodyellow, $alpha: 0.3);
    }

    &.p0 {
      width: 100vw;
      left: 0;
      bottom: 0;
    }

    &.p1 {
      width: 100vh;
      transform-origin: bottom right;
      right: 0;
      bottom: 0;
      transform: rotate(-90deg) translateX(100%);
    }

    &.p2 {
      width: 100vh;
      transform-origin: top left;
      left: 0;
      top: 0;
      transform: rotate(90deg) translateY(-100%)
    }

    h3 {
      font-size: 1rem;
    }
  }
}

#game-region {
  pointer-events: all;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  height: 100%;
  overflow: hidden;
  perspective: 8000px;
  position: relative;

  #statisticsBox {
    position: absolute;
    top: 2rem;
    right: 2rem;
  }

  .start-game {
    position: absolute;
    border: none;
    font-size: 1.5rem;
    border-radius: 2.5rem;
    padding: 1rem 2rem;
    font-weight: 600;
    cursor: pointer;
    background-color: #d35400;
    color: #f3f3f3;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .poker-card {
    border-radius: 8px;
    cursor: default;
    height: 247px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform-style: preserve-3d;
    transform: rotateY(0);
    transition: -webkit-transform .3s, -webkit-box-shadow .2s;
    transition: transform .3s, box-shadow .2s;
    transition: transform .3s, box-shadow .2s, -webkit-transform .3s, -moz-transform .3s, -o-transform .3s, -webkit-box-shadow .2s, -moz-box-shadow .2s;
    width: 182px;
    z-index: 1000;

    margin-left: -91px;
    margin-top: -123.5px;
    transition: transform 500ms ease 0s, box-shadow 200ms ease 0s;

    &.ready {
      box-shadow: 0 0 5px rgba(0, 0, 0, .1);
    }

    &.initial {
      transform: rotate(0deg) rotateY(180deg) scale(0.5) rotateY(360deg);
      transition: transform 600ms ease 0s, box-shadow 200ms ease 0s;
    }

    &.movable {
      cursor: pointer;
    }

    >.back,
    >.front {
      backface-visibility: hidden;
      border-radius: 8px;
      box-sizing: border-box;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%
    }

    >.back {
      transform: rotateY(180deg)
    }

    >.front {
      transform: rotateY(0)
    }

    &.indeck .front:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, .3);
      border: 1px solid transparent;
      border-radius: 8px;
      backface-visibility: hidden
    }

    &.distributing .front:after,
    &.indeck.movable .front:after {
      display: none
    }

    &.movable:hover .front {
      box-shadow: 0 0 20px 5px #add8e6;
    }

    &.spades-broken:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 10000;
      background: url(../assets/images/others/spades_broken.png) no-repeat center;
      background-size: 80%;
      animation: spadesBroken 1s infinite
    }

    &>.front {
      background-image: url('/assets/large_print_london.png');
      background-size: 2366px 988px;
      background-repeat: initial;
      background-attachment: initial;
      background-origin: initial;
      background-clip: initial;
    }

    &>.back {
      background-image: url('/assets/rhombus_blue.png');
      background-size: 100% 100%;
    }

    &.card-type-spade .front {
      background-position-y: 0px;
    }

    &.card-type-heart .front {
      background-position-y: -247px;
    }

    &.card-type-club .front {
      background-position-y: -494px;
    }

    &.card-type-diamond .front {
      background-position-y: -741px;
    }

    @for $i from 2 through 10 {
      &.card-num-#{$i} .front {
        background-position-x: -#{($i - 1) * 182}px;
      }
    }

    &.card-num-a .front {
      background-position-x: 0px;
    }

    &.card-num-k .front {
      background-position-x: -2184px;
    }

    &.card-num-q .front {
      background-position-x: -2002px;
    }

    &.card-num-j .front {
      background-position-x: -1820px;
    }
  }

  .poker-card {
    transition: -webkit-transform .5s, -webkit-box-shadow .2s;
    transition: transform .5s, box-shadow .2s;
    transition: transform .5s, box-shadow .2s, -webkit-transform .5s, -moz-transform .5s, -o-transform .5s, -webkit-box-shadow .2s, -moz-box-shadow .2s;

    &.in-waste {
      transition: -webkit-transform .3s, -webkit-box-shadow .2s;
      transition: transform .3s, box-shadow .2s;
      transition: transform .3s, box-shadow .2s, -webkit-transform .3s, -moz-transform .3s, -o-transform .3s, -webkit-box-shadow .2s, -moz-box-shadow .2s
    }
  }

  .info-board {
    position: absolute;
    z-index: 200;
    display: inline-block;
    text-align: center;
    transition-duration: .3s;
    transform: translateZ(0);
    width: auto;
    box-sizing: content-box;
    padding: 5px;
    padding-top: 20px;
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
    transition: 1s opacity;

    &.show {
      visibility: visible;
      opacity: 1;
    }

    &.on-bottom {
      bottom: 0;
      left: 0;

      .message-bubble {
        margin-left: 15px;
      }
    }

    &.on-left {
      left: 0;
      top: 10%
    }

    &.on-top {
      top: 0;
      right: 10%
    }

    &.on-right {
      right: 0;
      bottom: 10%;

      .message-bubble {
        left: initial;
        right: 60%;
      }

      .message-bubble:before {
        left: initial;
        right: -16px;
        border: 8px solid rgba(0, 0, 0, .5);
        border-bottom-color: transparent;
        border-right-color: transparent;
        border-top-color: transparent;
      }
    }

    .player-avatar {
      display: inline-block;
      width: 60px;
      height: 60px;
      background-size: contain;
      border-radius: 50%;
      box-shadow: 1px 1px 2px rgba(0, 0, 0, .8);
      pointer-events: all;
      filter: drop-shadow(0 3px 3px rgba(0, 0, 0, .6));
      cursor: pointer;
      image-rendering: -webkit-optimize-contrast;
      image-rendering: crisp-edges;

      &.highlight {
        animation: pulsing 1s alternate infinite
      }
    }

    .namearea {
      display: flex;
      align-items: center;
      justify-content: center;

      .player-bid,
      .player-name,
      .separator {
        font-family: -apple-system, "Helvetica Neue", Roboto, "Segoe UI", sans-serif;
        font-weight: 700;
        font-size: 1.3em;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, .8);
        color: #fff;
        padding: 0;
        margin: 0
      }

      .separator {
        margin: 0 6px;
        margin-top: 5px;
        display: inline-block;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background: #fff;
        text-shadow: none;
        color: transparent;
        box-shadow: 1px 1px 2px rgba(0, 0, 0, .8)
      }
    }

    .player-bidding.highlight {
      transition: -webkit-filter 1s;
    }

    .message-bubble {
      display: block;
      padding: 10px;
      min-width: 100px;
      position: absolute;
      background: rgba(0, 0, 0, .5);
      left: 60%;
      border-radius: 4px;
      display: none;
      color: #fff;
      filter: drop-shadow(-2px 0 5px rgba(0, 0, 0, .4));

      &.show {
        display: block;
      }

      &:before {
        content: "";
        border: 8px solid rgba(0, 0, 0, .5);
        border-bottom-color: transparent;
        border-left-color: transparent;
        border-top-color: transparent;
        position: absolute;
        top: 50%;
        left: -16px;
        margin-top: -8px;
        z-index: 1000;
      }
    }
  }

  .modal {
    pointer-events: auto;
    background: rgba(0, 0, 0, .5);
    display: flex;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    min-width: 400px;
    padding: 1.5rem;
    text-align: center;
    z-index: 1000;
    transform-style: preserve-3d;
    perspective: 8000px;
    border-radius: 3px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .5);
    color: #f3f3f3;
    transform: translate(-50%, -50%);
    flex-direction: column;
    gap: 1.5rem;
    transition: 300ms opacity;

    &.show {
      visibility: visible;
      opacity: 1;
    }
  }

  .bidding-modal {
    .bids {
      display: flex;
      gap: 0.5rem;

      >span {
        font-size: 1.2em;
        padding: 0.25rem 0.5rem;
        width: 2.5rem;
        background-color: rgba(0, 0, 0, .5);
        cursor: pointer;
      }
    }
  }

  .trump-modal {
    .cards {
      display: flex;
      gap: 0.5rem;

      .card {
        width: calc(182px * var(--scale));
        height: calc(247px * var(--scale));
        transition: 300ms transform;
        cursor: pointer;

        .poker-card {
          cursor: unset;
          position: relative;
          margin: 0;
          top: 0;
          left: 0;
          transform: scale(var(--scale));
          transform-origin: top;
          -webkit-transform-origin-x: left;
        }

        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }

  .winner-modal {
    padding: 3rem 6rem;

    h3 {
      font-size: 2rem;
    }
  }
}

@keyframes pulsing {
  from {
    box-shadow: 0 0 0 #000, inset 0 0 0 #f3f3f3, 0 0 0 0 #f3f3f3
  }

  to {
    box-shadow: 0 0 0 #000, inset 0 0 10px #f3f3f3, 0 0 10px 10px #f3f3f3
  }
}